{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{homeMsg}}</h1>
    <h1>{{test}}</h1>

    <ul>
        {% for key, value in data %}
            <li>{{ key }} = {{ value }}</li>
        {% endfor %}
    </ul>
{% endblock %}